.card__title {
  max-width: 220px;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*Либо с точками из макета, либо этот набор свойств для эллипсиса текста в можно лучше*/
  background-image: (90deg, #59bbff, #be41ff 30%, #ff98ea);
  margin: 0;
}
